<!DOCTYPE html>
<html>
<head>
    <title>Monitor</title>
    <meta charset="utf-8">
</head>
<style>
    table {
        border-spacing: 0;
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #ccc;
        max-width: 860px;
        white-space: nowrap;
    }

    tr td {
        text-align: right;
    }

    tr td:first-child {
        text-align: center;
    }

    .text-ellipsis {
        width: inherit;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<body>
<div style="margin: 0 auto;max-width:1400px">
    <div style="text-align: right;margin-bottom: 10px">
        <input type="text" id="refresh-value" placeholder="Refresh Rate" value="0.5">
        <button id="ws-open">Start</button>
        <button id="ws-close">Stop</button>
    </div>
    <div id="inject-point"></div>
</div>
<script>
    let timer_d90g8df987g9dfg7df9gdfj, ws, manualFlag = false;
    handlerSocket();

    document.body.onkeypress = function (evt) {
        if (evt.srcElement.tagName.toLocaleLowerCase() === "input") {
            changeRefreshRate();
            return
        }
        if (evt.key && evt.key.toLocaleLowerCase() === "enter") {
            manualOpen();
            manualClose();
            return
        }
    };

    document.getElementById("refresh-value").onblur = function () {
        changeRefreshRate()
    };

    document.getElementById("ws-open").onclick = function () {
        manualOpen();
    };

    document.getElementById('ws-close').onclick = function () {
        manualClose();
    };

    function changeRefreshRate() {
        if (!ws) {
            return;
        }

        if (ws.readyState != 1) {
            return;
        }

        ws.send(document.getElementById("refresh-value").value);
    }

    function reconnectSocket() {
        clearTimeout(timer_d90g8df987g9dfg7df9gdfj);
        if (manualFlag) {
            return;
        }
        timer_d90g8df987g9dfg7df9gdfj = setTimeout(function () {
            handlerSocket()
        }, 1000)
    }

    function manualOpen() {
        if (!ws) {
            return;
        }
        if (ws.readyState != 3) {
            return;
        }
        manualFlag = false;
        handlerSocket()
    }

    function manualClose() {
        if (!ws) {
            return
        }
        if (ws.readyState != 1) {
            return;
        }
        manualFlag = true;
        ws.close();
    }

    function handlerSocket() {
        let injectPoint = document.getElementById("inject-point");
        ws = new WebSocket((window.location.protocol === "https:" ? "wss://" : "ws://") + window.location.host + "/echo");
        ws.onmessage = function (evt) {
            injectPoint.innerHTML = evt.data
        };
        ws.onopen = function () {
            changeRefreshRate();
            injectPoint.style = "background:none";
        };
        ws.onerror = function () {
            injectPoint.style = "background:yellow";
            ws && ws.close();
            reconnectSocket()
        };
        ws.onclose = function () {
            injectPoint.style = "background:#f2f2f2";
            ws && ws.close();
            reconnectSocket()
        };
        window.onbeforeunload = function () {
            ws && ws.close()
        };
    }
</script>
</body>
</html>