<!DOCTYPE html>
<html>
<head>
    <title>Asuka connecting..</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link href="/static/asuka.css" rel="stylesheet" type="text/css"/>
    {{if eq .GOOS "windows"}}
    <script src="/static/vue.js"></script>{{/*For Development*/}}
    {{else}}
    <script src="/static/vue.min.js"></script>{{/*For Production*/}}
    {{end}}
    <script async defer src="/static/axios.min.js"></script>
</head>
<body>
<div style="max-width: 1500px;margin: 20px auto;display: none"
     id="vue-content">
    <div class="head_wrap" v-if="basic.time">
        <div class="head-item">
            <div>
                <h1>{{"{{basic.mem_sys}}"}}</h1>
                <small>System memory usage</small>
            </div>
            <br>
            <table>
                <tbody>
                <tr>
                    <td>
                        Time
                    </td>
                    <td>
                        <strong>{{"{{basic.time}}"}}</strong>
                    </td>
                    <td>
                        Uptime
                    </td>
                    <td>
                        <strong>{{"{{basic.uptime}}"}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Servers
                    </td>
                    <td>
                        <strong>{{"{{basic.servers}}"}}</strong>
                    </td>
                    <td>
                        Server offline
                    </td>
                    <td>
                        <strong>
                            {{"{{basic.servers?((basic.servers-basic.server_run)/basic.servers*100).toFixed(2):0}}"}}
                            %
                        </strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="head-item">
            <div>
                <h1>{{"{{basic.queue|numberFormat}}"}}</h1>
                <small>All url in redis</small>
                <span style="float: right"><strong>{{"{{basic.redis_mem}}"}}</strong></span>
            </div>
            <br>
            <table>
                <tbody>
                <tr>
                    <td>
                        socket / ws
                    </td>
                    <td>
                        <strong>{{"{{basic.connections|numberFormat}}"}}
                            / {{"{{basic.ws_connections|numberFormat}}"}}</strong>
                    </td>
                    <td>
                        Goroutine
                    </td>
                    <td>
                        <strong>{{"{{basic.goroutine|numberFormat}}"}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Retries</td>
                    <td colspan="3">
                        <strong>{{"{{retries}}"}}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="head-item">
            <div style="float:right">
                <h1>{{"{{basic.net_out}}"}}</h1>
                <small>TCP traffic out</small>
            </div>
            <div>
                <h1>{{"{{basic.net_in}}"}}</h1>
                <small>TCP traffic in</small>
            </div>
            <br>
            <table>
                <tbody>
                <tr>
                    <td>
                        Request
                    </td>
                    <td>
                        <strong>{{"{{accessSum|numberFormat}}"}}</strong>
                    </td>
                    <td>
                        Failed
                    </td>
                    <td>
                        <strong>{{"{{failureSum|numberFormat}}"}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Failure Recent
                    </td>
                    <td>
                        <strong>{{"{{failurePeriodAvg}}"}}%</strong>
                    </td>
                    <td>
                        Failure All
                    </td>
                    <td>
                        <strong>{{"{{failureAllAvg}}"}}%</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <canvas style="width: 100%;height:90px;" id="chart-legend-top"></canvas>

    <div style="background: #fff;padding: 30px 20px;overflow-x: auto">
        <table v-if='projects.length' class="table-striped">
            <thead>
            <tr>
                <th style="width: 1px"></th>
                <th>Project</th>
                <th>Offline</th>
                <th>Failure recent/all</th>
                <th>Dispatch</th>
                <th>Load 60s/15m</th>
                <th>Pass/Sleep</th>
                <th>Conn</th>
                <th>HTTP I/O</th>
                <th>TCP I/O</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item,index in projects" style="cursor: pointer"
                :class="{ stop: item.stop}">
                <td class="center" v-on:click="goTo(item.name)">{{"{{index+1}}"}}</td>
                <td class="center" v-on:click="goTo(item.name)"><a :href="item.name">{{"{{item.name}}"}}</a></td>
                <td class="center" v-on:click="goTo(item.name)">{{"{{((item.servers-item.server_run)/item.servers*100).toFixed(2)}}"}}%</td>
                <td class="center" v-on:click="goTo(item.name)">{{"{{item.failure_period|numberFormat}}"}}%
                    / {{"{{item.failure_all|numberFormat}}"}}%
                </td>
                <td class="center" v-on:click="goTo(item.name)">{{"{{item.access_count}}"}} / {{"{{item.failure_count}}"}}</td>
                <td class="center" v-on:click="goTo(item.name)">{{"{{item.loads['60']|numberFormat}}"}}
                    / {{"{{item.loads['900']|numberFormat}}"}}</td>
                <td class="center" v-on:click="goTo(item.name)">{{"{{item.waiting}}"}} / {{"{{item.sleep}}"}}</td>
                <td class="center" v-on:click="goTo(item.name)">{{"{{item.connections}}"}}</td>
                <td class="center" v-on:click="goTo(item.name)">{{"{{item.traffic_in}}"}} / {{"{{item.traffic_out}}"}}</td>
                <td class="center" v-on:click="goTo(item.name)">{{"{{item.net_in}}"}} / {{"{{item.net_out}}"}}</td>
                <td class="right">
                    <button class="btn-sm"
                            v-on:click.stop.prevent="switchProject(item.name)">{{"{{item.stop?'start':'stop'}}"}}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="ctrl-wrap">
    <button id="ws-open-close" class="btn-mb" style="background: #ff9c38;border: 1px solid #ff9c38;color: #fff">On /
        Off
    </button>
    <input type="text" id="send-value" class="inp-mb" placeholder="Command" value="" style="max-width: 160px">
</div>
<script src="/static/Chart.min.js"></script>
<script>
    let timer_d90g8df987g9dfg7df9gdfj, ws, manualFlag = false, vueContent;
    vueContent = new Vue({
        el: "#vue-content",
        data: {
            basic: {},
            projects: [],
            chart1: null,
        },
        methods: {
            goTo: function (name) {
                location.href = "/" + name
            },
            switchProject: function (name) {
                axios.post('/switchProject', {name: name,});
            }
        },
        computed: {
            accessSum: function () {
                return total(this.projects, "access_count");
            },
            failureSum: function () {
                return total(this.projects, "failure_count");
            },
            failurePeriodAvg: function () {
                return (total(this.projects, "failure_period") / this.projects.length).toFixed(2)
            },
            failureAllAvg: function () {
                return (total(this.projects, "failure_all") / this.projects.length).toFixed(2)
            },
            retries: function () {
                let str = "", k;
                for (k in this.basic.queue_bls) {
                    if (this.basic.queue_bls.hasOwnProperty(k)) {
                        str += (k == -1 ? "F:" : "") + " " + this.basic.queue_bls[k] + " / "
                    }
                }
                return str ? str.substring(0, str.length - 2) : str
            },
        },
        filters: {
            numberFormat: function (v) {
                return new Intl.NumberFormat().format(v)
            },
            urlTruncate: function (str) {
                if (str.length > 40) {
                    return str.substring(0, 40) + "..(" + str.length + ")"
                }
                return str
            }
        },
        mounted: function () {
            document.getElementById('vue-content').style.display = "block";
            handlerSocket();
        }
    });


    function total(data, field) {
        let total = 0;
        for (item of data) {
            total += parseFloat(item[field], 10)
        }
        return total;
    }

    document.getElementById("send-value").onkeypress = function (evt) {
        if (evt.key && evt.key.toLocaleLowerCase() === "enter") {
            sendMessage(document.getElementById("send-value").value);
        }
    };
    document.getElementById("ws-open-close").onclick = function () {
        manualOpen();
        manualClose();
    };

    function sendMessage(msg) {
        if (!ws) {
            return;
        }
        if (ws.readyState !== 1) {
            return;
        }
        ws.send(msg);
    }

    function reconnectSocket() {
        clearTimeout(timer_d90g8df987g9dfg7df9gdfj);
        if (manualFlag) {
            return;
        }
        timer_d90g8df987g9dfg7df9gdfj = setTimeout(function () {
            handlerSocket()
        }, 2000)
    }

    function manualOpen() {
        if (!ws) {
            return;
        }
        if (ws.readyState !== 3) {
            return;
        }
        manualFlag = false;
        handlerSocket()
    }

    function manualClose() {
        if (!ws) {
            return
        }
        if (ws.readyState !== 1) {
            return;
        }
        manualFlag = true;
        ws.close();
    }

    function handlerSocket() {
        ws = new WebSocket((window.location.protocol === "https:" ? "wss://" : "ws://") + window.location.host + "/index.io");
        ws.onmessage = function (evt) {
            let data = JSON.parse(evt.data);
            vueContent.$data.projects = data.projects;
            vueContent.$data.basic = data.basic;
            document.title = "Asuka " + data.basic.loads[5].toFixed(2) + " / " + data.basic.loads[60].toFixed(2) + " / " + data.basic.time;
            ws.send("");

            //chart
            if (vueContent.chart1) {
                vueContent.chart1.data.datasets[0].data = [];
                for (let s in data.basic.loads) {
                    vueContent.chart1.data.datasets[0].data.push(data.basic.loads[s]);
                }
                vueContent.chart1.update();
            } else {
                vueContent.chart1 = new Chart(document.getElementById('chart-legend-top').getContext('2d'), createConfig())
            }
        };
        ws.onopen = function () {
            sendMessage("");
            document.body.className = "";
            document.title = "Asuka connected";
        };
        ws.onerror = function () {
            document.body.className = "ws-closed";
            document.title = "Asuka Error !";
            ws && ws.close();
            reconnectSocket()
        };
        ws.onclose = function () {
            document.body.className = "ws-closed";
            document.title = "Asuka Closed !";
            ws && ws.close();
            reconnectSocket()
        };
        window.onbeforeunload = function () {
            ws && ws.close()
        };
    }

    function createConfig() {
        return {
            type: 'line',
            data: {
                labels: new Array(9),
                datasets: [{label: '', data: [], borderColor: 'rgb(97, 100, 102)', borderWidth: 0.5, fill: false}]
            },
            options: {
                layout: {padding: {left: 10, right: 10, top: 5, bottom: 10}},
                elements: {point: {pointStyle: "crossRot"}, line: {tension: 0.2}},
                responsive: false,
                legend: {display: false},
                scales: {
                    xAxes: [{display: false,}],
                    yAxes: [{
                        display: true,
                        gridLines: {display: false, drawBorder: false},
                        ticks: {fontColor: "#dadada", fontSize: 12,}
                    }]
                },
                title: {display: false,}
            }
        };
    }
</script>
</body>
</html>