{{define "head"}}<title>{{if .}}{{.}}{{else}}Asuka{{end}}</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<link rel="icon" href="https://cdn.jsdelivr.net/gh/chenset/asuka/web/templates/favicon.ico" type="image/x-icon">
<link href="{{FileCdnCtl "/static/asuka.css"}}" rel="stylesheet" type="text/css"/>
<script src="{{FileCdnCtl "/static/asuka.js"}}"></script>{{end}}

{{define "sectionOne"}}
    <table>
        <tbody>
        <tr>
            <td>
                Time
            </td>
            <td>
                <strong>{{"{{payload.basic.time}}"}}</strong>
            </td>
            <template v-if="payload.basic.sys_load">
                <td>
                    Load
                </td>
                <td style="line-height: 10px" v-if="payload.basic.tcp_filter.Load">
                    <strong style="font-size: 10px">{{"{{payload.basic.sys_load}}"}} <span
                                :style="{color: 'hsl('+(100-payload.basic.sys_mem_percent)+', 100%, 35%)'}">{{"{{payload.basic.sys_mem_percent.toFixed(0)}}"}}%</span></strong>
                    <br>
                    <strong style="font-size: 10px">{{"{{payload.basic.tcp_filter.Load}}"}} <span
                                :style="{color: 'hsl('+(100-(payload.basic.tcp_filter.MemTotal-payload.basic.tcp_filter.MemAvailable)/payload.basic.tcp_filter.MemTotal*100)+', 100%, 35%)'}">{{"{{((payload.basic.tcp_filter.MemTotal-payload.basic.tcp_filter.MemAvailable)/payload.basic.tcp_filter.MemTotal*100).toFixed(0)}}"}}%</span></strong>
                </td>
                <td v-else>
                    <strong>{{"{{payload.basic.sys_load}}"}} <span
                                :style="{color: 'hsl('+(100-payload.basic.sys_mem_percent)+', 100%, 35%)'}">{{"{{payload.basic.sys_mem_percent.toFixed(0)}}"}}%</span></strong>
                </td>
            </template>
            <template v-else>
                <td>
                    Uptime
                </td>
                <td>
                    <strong>{{"{{payload.basic.uptime}}"}}</strong>
                </td>
            </template>
        </tr>
        <tr>
            <td>
                Servers
            </td>
            <td>
                <strong>{{"{{payload.basic.server_enable}}"}}</strong>
            </td>
            <td>
                Offline
            </td>
            <td>
                <strong>
                    {{"{{payload.basic.server_enable?((payload.basic.server_enable-payload.basic.server_run)/payload.basic.server_enable*100).toFixed(2):0}}"}}
                    %
                </strong>
            </td>
        </tr>
        </tbody>
    </table>
{{end}}

{{define "sectionThree"}}
    <div class="head-item">
        <div style="float:right">
            <h1><a style="cursor:pointer;" :class="{'text-orange':payload.stop}"
                   v-on:click="traffic()">{{"{{payload.basic.traffic_out}}"}}</a><small style="font-size: 12px"
                                                                                        v-if="payload.basic.os_out>0"> {{"{{payload.basic.os_out.fileSizeH()}}"}}
                    /s</small>
            </h1>
            <small>TCP traffic out</small>
        </div>
        <div>
            <h1><a style="cursor:pointer;" :class="{'text-orange':payload.stop}"
                   v-on:click="traffic()">{{"{{payload.basic.traffic_in}}"}}</a><small style="font-size: 12px"
                                                                                       v-if="payload.basic.os_in>0"> {{"{{payload.basic.os_in.fileSizeH()}}"}}
                    /s</small></h1>
            <small>TCP traffic in</small>
        </div>
        <br>
        <table>
            <tbody>
            <tr>
                <td>
                    Request
                </td>
                <td>
                    <strong>{{"{{payload.basic.access_count.numFormat()}}"}}</strong>
                </td>
                <td>
                    Failed
                </td>
                <td>
                    <strong>{{"{{payload.basic.failure_count.numFormat()}}"}}</strong>
                </td>
            </tr>
            <tr>
                <td>
                    Failure Recent
                </td>
                <td>
                    <strong>{{"{{payload.basic.failure_period}}"}}%</strong>
                </td>
                <td>
                    Failure All
                </td>
                <td>
                    <strong>{{"{{ (payload.basic.access_count?(payload.basic.failure_count/payload.basic.access_count)*100:0).numFormat() }}"}}
                        %</strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{{end}}

{{define "common"}}
    {{/*dark mode ctr*/}}
    <div onclick="darkModeToggle()" style="cursor: pointer;position: fixed;top: 15px;right:20px;">
        <div class="sun"></div>
        <div class="moon"></div>
    </div>

    {{/* popup */}}
    <div style="display:none;position:fixed;top:0;left:0;z-index: 999;width: 100%;height: 100%;opacity: 0.4;background: #000"
         id="popup-window-layer" onclick="popupWindowClose()"></div>
    <div class="main-content" id="popup-window"
         style="display:none;position: fixed;top:50%; left: 50%;z-index: 999; transform: translate(-50%, -50%);max-height:80%;max-width:1500px;width: 96%;border-radius: 2px;padding: 10px 20px 20px;">
        <div style="margin: 0 0 15px" id="popup-window-title"></div>
        <div id="popup-window-content" style="overflow: auto;"></div>
    </div>
    {{/* loading */}}
    <div style="display:none;position:fixed;top:0;left:0;z-index: 999;width: 100%;height: 100%;" id="layer"></div>
    <div class="lds-dual-ring" id="loading"></div>
    {{/* Google Analytics */}}
    <script>
        setTimeout(function () {
            loadScript("https://www.googletagmanager.com/gtag/js?id=UA-71822351-2", function () {
                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }

                gtag('js', new Date());
                gtag('config', 'UA-71822351-2');
            });
        }, 100);
    </script>
{{end}}