<!DOCTYPE html>
<html lang="en">
<head>
    <title>Asuka connecting..</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link href="{{FileCacheCtl "/static/asuka.css"}}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div style="max-width: 1500px;margin: 20px auto;display: none"
     id="vue-content">
    <div class="head_wrap" v-if="basic.time">
        <div class="head-item">
            <div>
                <h1>{{"{{basic.mem_sys}}"}} <small style="font-size: 12px"
                                                   v-if="basic.tcp_filter.MemRss>0">{{"{{basic.tcp_filter.MemRss.fileSizeH()}}"}}</small>
                </h1>
                <small>Memory usage</small>
            </div>
            <br>
            <table>
                <tbody>
                <tr>
                    <td>
                        Time
                    </td>
                    <td>
                        <strong>{{"{{basic.time}}"}}</strong>
                    </td>
                    <template v-if="basic.sys_load">
                        <td>
                            Load
                        </td>
                        <td style="line-height: 10px" v-if="basic.tcp_filter.Load">
                            <strong style="font-size: 10px">{{"{{basic.sys_load}}"}} <span
                                        :style="{color: 'hsl('+(100-basic.sys_mem_percent)+', 100%, 35%)'}">{{"{{basic.sys_mem_percent.toFixed(0)}}"}}%</span></strong>
                            <br>
                            <strong style="font-size: 10px">{{"{{basic.tcp_filter.Load}}"}} <span
                                        :style="{color: 'hsl('+(100-(basic.tcp_filter.MemTotal-basic.tcp_filter.MemAvailable)/basic.tcp_filter.MemTotal*100)+', 100%, 35%)'}">{{"{{((basic.tcp_filter.MemTotal-basic.tcp_filter.MemAvailable)/basic.tcp_filter.MemTotal*100).toFixed(0)}}"}}%</span></strong>
                        </td>
                        <td v-else>
                            <strong>{{"{{basic.sys_load}}"}}</strong>
                        </td>
                    </template>
                    <template v-else>
                        <td>
                            Uptime
                        </td>
                        <td>
                            <strong>{{"{{basic.uptime}}"}}</strong>
                        </td>
                    </template>
                </tr>
                <tr>
                    <td>
                        Servers
                    </td>
                    <td>
                        <strong>{{"{{basic.server_enable}}"}}</strong>
                    </td>
                    <td>
                        Offline
                    </td>
                    <td>
                        <strong>
                            {{"{{basic.server_enable?((basic.server_enable-basic.server_run)/basic.server_enable*100).toFixed(2):0}}"}}
                            %
                        </strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="head-item">
            <div>
                <h1>{{"{{basic.queue.numFormat()}}"}}
                    <small style="font-size: 12px;"
                           v-if="basic.retries_queue">{{"{{basic.retries_queue.numFormat()}}"}}</small></h1>
                <small>All url in redis</small>
                <span style="float: right"><strong>{{"{{basic.redis_mem}}"}}</strong>
                    <br>
                    <span class="text-gray"
                          v-if="basic.redis_retries_mem!='0B'">{{"{{basic.redis_retries_mem}}"}}</span></span>
            </div>
            <br>
            <table>
                <tbody>
                <tr>
                    <td>
                        socket / ws
                    </td>
                    <td>
                        <strong>{{"{{basic.connections.numFormat()}}"}}
                            / {{"{{basic.ws_connections.numFormat()}}"}}</strong>
                    </td>
                    <td>
                        Threads
                    </td>
                    <td>
                        <strong>{{"{{basic.goroutine.numFormat()}}"}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Retries</td>
                    <td colspan="3">
                        <strong style="display:block;white-space: nowrap; width: 195px; overflow: hidden; text-overflow: ellipsis;"
                                :title="retries">{{"{{retries}}"}}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="head-item">
            <div style="float:right">
                <h1>{{"{{basic.traffic_out}}"}}</h1>
                <small>TCP traffic out</small>
            </div>
            <div>
                <h1>{{"{{basic.traffic_in}}"}}</h1>
                <small>TCP traffic in</small>
            </div>
            <br>
            <table>
                <tbody>
                <tr>
                    <td>
                        Request
                    </td>
                    <td>
                        <strong>{{"{{basic.access_count.numFormat()}}"}}</strong>
                    </td>
                    <td>
                        Failed
                    </td>
                    <td>
                        <strong>{{"{{basic.failure_count.numFormat()}}"}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Failure Recent
                    </td>
                    <td>
                        <strong>{{"{{ (projects.length?(basic.failure_period/projects.length):0).numFormat()}}"}}
                            %</strong>
                    </td>
                    <td>
                        Failure All
                    </td>
                    <td>
                        <strong>{{"{{ (basic.access_count?(basic.failure_count/basic.access_count)*100:0).numFormat()}}"}}
                            %</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="width: 100%;height:145px;">{{/*防止下面延迟加载成功后的抖动*/}}
        <canvas style="width: 100%;height:140px;" id="chart-legend-top"></canvas>
    </div>
    <div style="background: #fff;padding: 30px 20px;overflow-x: auto" v-if='projects.length'>
        <table class="table-striped">
            <thead>
            <tr>
                <th style="width: 1px"></th>
                <th>Project</th>
                <th>Servers</th>
                <th>Offline</th>
                <th>Failure recent/all</th>
                <th>Dispatch</th>
                <th>Load 60s/15m</th>
                {{/*<th>Pass/Sleep</th>*/}}
                <th>Traffic I/O</th>
                <th style="width:1px"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item,index in projects" style="cursor: pointer"
                :class="{ stop: item.stop}">
                <td class="center" v-on:click="goTo(item.name)">{{"{{index+1}}"}}</td>
                <td class="center" v-on:click="goTo(item.name)"><a :href="item.name"
                                                                   :class="{'text-orange':item.stop}">{{"{{item.name}}"}}</a>
                </td>
                <td class="center" v-on:click="goTo(item.name)">{{"{{item.server_run}}"}}
                    / {{"{{item.server_enable}}"}}
                </td>
                <td class="center"
                    v-on:click="goTo(item.name)">{{"{{item.server_enable?((item.server_enable-item.server_run)/item.server_enable*100).toFixed(2):0}}"}}
                    %
                </td>
                <td class="center" v-on:click="goTo(item.name)">{{"{{item.failure_period.numFormat()}}"}}%
                    / {{"{{item.failure_all.numFormat()}}"}}%
                </td>
                <td class="center" v-on:click="goTo(item.name)">{{"{{item.access_count}}"}}
                    / {{"{{item.failure_count}}"}}</td>
                <td class="center" v-on:click="goTo(item.name)">{{"{{item.loads['60'].numFormat()}}"}}
                    / {{"{{item.loads['900'].numFormat()}}"}}</td>
                {{/*<td class="center" v-on:click="goTo(item.name)">{{"{{item.waiting}}"}} / {{"{{item.sleep}}"}}</td>*/}}
                <td class="center" v-on:click="goTo(item.name)">{{"{{item.traffic_in}}"}}
                    / {{"{{item.traffic_out}}"}}</td>
                <td class="right ctl">
                     <span v-if="!item.stop && item.stop_time > 0" style="margin-right: 10px" class="text-orange"
                           title="Stop Time">
                              {{"{{item.stop_time.timestamp2date()}}"}}
                     </span>
                    <button class="btn-sm ctl" :disabled="item._btnDisabled"
                            :class="{orange:item.stop,green:!item.stop}"
                            v-on:click.stop.prevent="switchProject(item)">{{"{{item.stop?'start':'stop'}}"}}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="text-gray" style="padding: 0 20px 40px">
        <div>
            <span v-if="basic.uptime">Uptime: {{"{{basic.uptime}}"}}</span>
        </div>
        {{/*        <div>*/}}
        {{/*            <span v-if="basic.sys_load">Load: {{"{{basic.sys_load}}"}}</span>*/}}
        {{/*            <span v-if="basic.sys_mem">Used/Total: {{"{{basic.sys_mem}}"}} <span*/}}
        {{/*                        :style="{color: 'hsl('+(100-basic.sys_mem_percent)+', 100%, 35%)'}">{{"{{basic.sys_mem_percent.toFixed(2)}}"}}%</span></span>*/}}
        {{/*            <span v-if="basic.runtime_mem">Sys/Alloc: {{"{{basic.runtime_mem}}"}}</span>*/}}
        {{/*        </div>*/}}
        <div>
            <a href="/log" v-if="basic.log_mod > 0"
               :class="{'text-orange':basic.log_mod>=basic.log_check,'text-gray':basic.log_mod<basic.log_check}">
                Log: {{"{{basic.log_mod.timestamp2date()}}"}}
            </a>
            <a href="/log/tcp" v-if="basic.tcp_filter.LogMod > 0"
               :class="{'text-orange':basic.tcp_filter.LogMod>=basic.tcp_filter.LogCheck,'text-gray':basic.tcp_filter.LogMod<basic.tcp_filter.LogCheck}">
                Log: {{"{{basic.tcp_filter.LogMod.timestamp2date()}}"}}
            </a>
        </div>
        {{/*        <div>*/}}
        {{/*            <span v-if="basic.tcp_filter.Load">Load: {{"{{basic.tcp_filter.Load}}"}}</span>*/}}
        {{/*            <span v-if="basic.tcp_filter.MemTotal">Used/Total: {{"{{(basic.tcp_filter.MemTotal-basic.tcp_filter.MemAvailable).fileSizeH()}}"}}/{{"{{basic.tcp_filter.MemTotal.fileSizeH()}}"}} <span*/}}
        {{/*                        :style="{color: 'hsl('+(100-(basic.tcp_filter.MemTotal-basic.tcp_filter.MemAvailable)/basic.tcp_filter.MemTotal*100)+', 100%, 35%)'}">{{"{{((basic.tcp_filter.MemTotal-basic.tcp_filter.MemAvailable)/basic.tcp_filter.MemTotal*100).toFixed(2)}}"}}%</span></span>*/}}
        {{/*            <span v-if="basic.tcp_filter.MemSys">Sys/Alloc: {{"{{basic.tcp_filter.MemSys.fileSizeH()}}"}}/{{"{{basic.tcp_filter.MemAlloc.fileSizeH()}}"}}</span>*/}}
        {{/*        </div>*/}}
        <div>
            <span v-if="basic.tcp_filter.MemRss">Rss: {{"{{basic.tcp_filter.MemRss.fileSizeH()}}"}}</span>
            <span v-if="basic.tcp_filter.Goroutine">Threads: {{"{{basic.tcp_filter.Goroutine}}"}}</span>
            <span v-if="basic.tcp_filter.Goroutine">Alive: {{"{{basic.tcp_filter.BlAliveSize}}"}}</span>
            <span v-if="basic.tcp_filter.Goroutine">Test: {{"{{basic.tcp_filter.BlTestCount.numFormat()}}"}}</span>
            <span v-if="basic.tcp_filter.Goroutine">Sockets: {{"{{basic.tcp_filter.Sockets}}"}}</span>
            <span v-if="basic.pool_size || basic.filter_new_connections">Pool size/create: {{"{{basic.pool_size}}"}}/{{"{{basic.filter_new_connections}}"}}</span>
        </div>
    </div>

    <div class="ctrl-wrap">
        {{if not .Check}}
            <a href="/login">
                <button class="btn-mb"
                        style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">Login
                </button>
            </a>
        {{else}}
            <button v-on:click="logout()" class="btn-mb"
                    style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">Logout
            </button>
            <input type="text" v-on:keypress="sendCommand($event)" class="inp-mb" placeholder="console" value=""
                   style="margin-bottom: 10px;max-width: 160px">
            <strong><a href="https://asuka.flysay.com" class="text-orange" style="margin-left:10px"
                       v-if="location.host.toLowerCase().indexOf('asuka') === -1">ASUKA</a></strong>
            <strong><a href="https://kumiko.flysay.com" class="text-orange" style="margin-left:10px"
                       v-if="location.host.toLowerCase().indexOf('kumiko') === -1">KUMIKO</a></strong>
        {{end}}
    </div>
</div>
<script src="{{FileCacheCtl "/static/asuka.js"}}"></script>
<script>
    let timer_d90g8df987g9dfg7df9gdfj, ws, manualFlag = false, vueContent;
    const wsUrl = (window.location.protocol === "https:" ? "wss://" : "ws://") + window.location.host + "/index.io";
    const preloadJson = {{.PreloadJson}}
        loadScript("{{FileCacheCtl "/static/vue.min.js"}}", function () {
            vueContent = new Vue({
                el: "#vue-content",
                data: {
                    basic: preloadJson.basic,
                    projects: preloadJson.projects,
                    chart1: null,
                    action: "",
                },
                methods: {
                    goTo: function (name) {
                        location.href = "/" + name
                    },
                    switchProject: function (item) {
                        this.$set(item, '_btnDisabled', true);
                        ajax({
                            url: "/switchProject", data: {name: item.name}, error: function (res) {
                                if (res.status === 401) {
                                    location.href = "/login"
                                }
                            }
                        });
                    },
                    logout: function () {
                        ajax({
                            url: "/logout", success: function () {
                                location.reload()
                            }
                        });
                    },
                    sendCommand: function (evt) {
                        if (evt.key && evt.key.toLocaleLowerCase() === "enter") {
                            sendMessage(evt.target.value);
                        }
                    }
                },
                computed: {
                    retries: function () {
                        let str = "";
                        this.basic.queue_retries.forEach(function (v, i) {
                            if (i === 0 && v === 0) {
                                return
                            }
                            str += (i === 0 ? "F:" : "") + "" + v + "/"
                        });
                        return str ? str.substring(0, str.length - 1) : str
                    }
                },
                mounted: function () {
                    handlerSocket();
                    document.getElementById('vue-content').style.display = "block";
                    loadScript('{{FileCacheCtl "/static/Chart.min.js"}}', function () {
                        setInterval(function () {
                            isMobile() ? sendMessage("4") : sendMessage("2")//change refresh rate
                        }, 6543)
                    });
                }
            });
        });
</script>
</body>
</html>