<!DOCTYPE html>
<html lang="en">
<head>{{template "head" .ProjectName}}</head>
<body>
<div style="max-width: 1500px;margin: 20px auto;display: none"
     id="vue-content">
    <div class="head_wrap" v-if="basic.time">
        <div class="head-item">
            <div style="float:right;">
                <h1>{{"{{basic.mem_sys}}"}}
                    <small style="font-size: 12px"
                           v-if="basic.tcp_filter.MemRss>0">{{"{{basic.tcp_filter.MemRss.fileSizeH()}}"}}</small>
                </h1>
                <small>Memory usage</small>
            </div>
            <div>
                <h1><a style="min-width: 50px;display:inline-block;" href="/"
                       :class="{'text-orange':stop}">{{.ProjectName}}</a></h1>
                <small v-if="stopTime > 0" class="text-orange">Stop: {{"{{stopTime.timestamp2date()}}"}}</small>
                <small v-else>Project</small>
            </div>
            <br>
            {{template "sectionOne"}}
        </div>

        <div class="head-item">
            <div>
                <h1><a v-on:click="queue()" style="cursor: pointer"
                       :class="{'text-orange':stop}">{{"{{basic.queue.numFormat()}}"}}</a> <small
                            style="font-size: 12px;"
                            v-if="basic.retries_queue">{{"{{basic.retries_queue.numFormat()}}"}}</small></h1>
                <small>All url in redis</small>
                <span style="float: right"><strong>{{"{{basic.redis_mem}}"}}</strong>
                  <br>
                    <span class="text-gray"
                          v-if="basic.redis_retries_mem!='0B'">{{"{{basic.redis_retries_mem}}"}}</span></span>
            </div>
            <br>
            <table>
                <tbody>
                <tr>
                    <td colspan="4">
                        {{if .Check}}
                            <div style="overflow:hidden;text-overflow: ellipsis;max-width: 400px"
                                 v-html="basic.showing"></div>
                        {{else}}
                            <a href="/login" style="color: #ff9c38">Login Required</a>
                        {{end}}
                    </td>
                </tr>
                <tr>
                    <td>Retries</td>
                    <td colspan="3">
                        <strong style="display:block;white-space: nowrap; width: 195px; overflow: hidden; text-overflow: ellipsis;"
                                :title="retries">{{"{{retries}}"}}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {{template "sectionThree"}}
    </div>
    <canvas style="width: 100%;height:135px;margin-bottom: 15px" id="chart-rate"></canvas>
    <div style="background: #fff;padding: 30px 20px;overflow-x: auto"
         v-if="(action == 'home' && home.servers) || (action == 'recent' && fetchList.length)">

        {{/*home*/}}
        <table v-if='action == "home" && home.servers' class="table-striped">
            <thead>
            <tr>
                {{if .Check}}
                    <th>Server</th>
                {{end}}
                <th>Status</th>
                <th style="min-width:145px">Failure Recent/all</th>
                <th style="width:1px">Dispatch</th>
                <th>Load 5s/60s/15m</th>
                {{/*<th style="min-width:70px">Time</th>*/}}
                <th>Pass / Sleep</th>
                <th style="width:130px;">Idle</th>
                {{/*<th>Traffic I/O</th>*/}}
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="server in home.servers" :class="{warning:server.failure_level,stop: server.stop}">
                {{if .Check}}
                    <td class="center">
                        <div style="display:inline-block;width: 100px;overflow: hidden;text-overflow: ellipsis ;text-align: center">{{"{{server.name}}"}}</div>
                    </td>
                {{end}}
                <td :style="{color: 'hsl('+server.failure_level_hsl+', 100%, 35%)'}" style="font-weight:800;"
                    class="center">
                    {{"{{server.failure_level}}"}}
                </td>
                <td class="center">
                    <div style="display:inline-block;width:50px" class="right">
                    <span :style="{color: 'hsl('+server.failure_period_hsl+', 100%, 35%)'}">{{"{{server.failure_period}}"}}
                        %</span>
                    </div>
                    /
                    <div style="display:inline-block;width:50px" class="left">
                    <span :style="{color: 'hsl('+server.failure_all_hsl+', 100%, 35%)'}">{{"{{server.failure_all}}"}}
                        %</span>
                    </div>
                </td>
                <td class="center">
                    <div style="display:inline-block;width:50px" class="right">{{"{{server.access_count}}"}}</div>
                    /
                    <div style="display:inline-block;width:50px" class="left">{{"{{server.failure_count}}"}}</div>
                </td>
                <td class="center">
                    <div style="display:inline-block;width:45px"
                         class="right">{{"{{server.loads[5].toFixed(2)}}"}}</div>
                    /
                    <div style="display:inline-block;"
                         class="left">{{"{{server.loads[60].toFixed(2)}}"}}</div>
                    /
                    <div style="display:inline-block;width:45px"
                         class="left">{{"{{server.loads[900].toFixed(2)}}"}}</div>
                </td>
                {{/*<td class="center">{{"{{server.avg_time}}"}}</td>*/}}
                <td class="center">
                    <div style="display:inline-block;width:80px" class="right">{{"{{server.waiting}}"}}</div>
                    /
                    <div style="display:inline-block;width:80px" class="left">{{"{{server.sleep}}"}}</div>
                </td>
                <td class="center" :class="server.idle? 'text-green': 'text-orange'">
                    {{"{{server.idle}}"}}
                </td>
                {{/*<td class="center">*/}}
                {{/*<div style="display:inline-block;width:50px" class="right">{{"{{server.traffic_in}}"}}</div>*/}}
                {{/*/*/}}
                {{/*<div style="display:inline-block;width:50px" class="left">{{"{{server.traffic_out}}"}}</div>*/}}
                {{/*</td>*/}}
                <td class="right ctl">
                    <button class="btn-sm ctl" :disabled="server._btnDisabled"
                            :class="{orange:server.stop,green:!server.stop}"
                            v-on:click.stop.prevent="switchServer(server)">{{"{{server.stop?'start':'stop'}}"}}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="ctrl-wrap">
        {{if not .Check}}
            <a href="/login">
                <button class="btn-mb"
                        style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">Login
                </button>
            </a>
        {{else}}
            <button v-on:click="logout()" class="btn-mb"
                    style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">Logout
            </button>
            <button class="btn-mb" v-on:click="traffic()"
                    style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">Traffic
            </button>
            <button v-on:click="switchProject()" class="btn-mb"
                    style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">{{"{{stop?'Start':'Stop'}}"}}
            </button>
            <button class="btn-mb" v-on:click="proxy()"
                    style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">Proxy
            </button>
            <a href="/website/{{.ProjectName}}">
                <button class="btn-mb"
                        style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">WEB
                </button>
            </a>
        {{end}}
        <button v-on:click="crawling()" class="btn-mb"
                style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">
            Crawling
        </button>
        {{if .Check}}
            <input type="text" v-on:keypress="sendCommand($event)" class="inp-mb" placeholder="console" value=""
                   style="margin-bottom: 10px;max-width: 160px">
            <strong><a href="https://asuka.flysay.com" class="text-orange" style="margin-left:10px"
                       v-if="location.host.toLowerCase().indexOf('asuka') === -1">ASUKA</a></strong>
            <strong><a href="https://kumiko.flysay.com" class="text-orange" style="margin-left:10px"
                       v-if="location.host.toLowerCase().indexOf('kumiko') === -1">KUMIKO</a></strong>
        {{end}}
        <strong>
            <span v-on:click="log()" v-if="basic.log_mod > 0"
                  style="margin-left:10px;cursor: pointer"
                  :class="{'text-red':basic.log_mod>=basic.log_check,'text-gray':basic.log_mod<basic.log_check}">
                {{"{{basic.log_mod.timestamp2date()}}"}}
            </span>
            <span v-on:click="tcpLog()" v-if="basic.tcp_filter.LogMod > 0"
                  style="margin-left:10px;cursor: pointer"
                  :class="{'text-red':basic.tcp_filter.LogMod>=basic.tcp_filter.LogCheck,'text-gray':basic.tcp_filter.LogMod<basic.tcp_filter.LogCheck}">
                {{"{{basic.tcp_filter.LogMod.timestamp2date()}}"}}
            </span>
        </strong>
    </div>
</div>

<script>
    let timer_d90g8df987g9dfg7df9gdfj, ws, manualFlag = false, vueContent;
    const wsUrl = (window.location.protocol === "https:" ? "wss://" : "ws://") + window.location.host + "/project.io?project=" + {{.ProjectName}};
    const preloadJson = {{.PreloadJson}}

        loadScript("https://cdn.jsdelivr.net/gh/vuejs/vue@2/dist/vue.min.js", function () {
            vueContent = new Vue({
                el: "#vue-content",
                data: {
                    home: preloadJson, recent: {},
                    basic: preloadJson.basic,
                    fetchList: [],
                    action: "home",
                    stop: preloadJson.stop,
                    stopTime: preloadJson.stop_time,
                    canvas: null,
                },
                methods: {
                    switchServer: function (server) {
                        showLoading();
                        this.$set(server, '_btnDisabled', true);
                        ajax({
                            url: "/switchServer",
                            data: {project: '{{.ProjectName}}', name: server.name,},
                            error: function (res) {
                                if (res.status === 401) {
                                    location.href = "/login"
                                }
                            },
                            complete: function () {
                                hideLoading()
                            }
                        });
                    },
                    switchProject: function (item) {
                        showLoading();
                        ajax({
                            url: "/switchProject", data: {name: '{{.ProjectName}}'}, error: function (res) {
                                if (res.status === 401) {
                                    location.href = "/login"
                                }
                            }, complete: function () {
                                hideLoading()
                            }
                        });
                    },
                    logout: function () {
                        showLoading();
                        ajax({
                            url: "/logout", success: function () {
                                location.reload()
                            }, complete: function () {
                                hideLoading();
                            }
                        });
                    },
                    sendCommand: function (evt) {
                        if (evt.key && evt.key.toLocaleLowerCase() === "enter") {
                            sendCommand(evt.target.value, '{{.ProjectName}}');
                        }
                    },
                    crawling: function () {
                        showLoading();
                        ajax({
                            url: "/crawling?project={{.ProjectName}}", success: function (res) {
                                hideLoading();
                                popupWindow('<h1 class="text-green">{{.ProjectName}} <small class="text-gray" ></small></h1>', res.response)
                            }
                        });
                    }, log: function () {
                        showLoading();
                        ajax({
                            url: "/log", success: function (res) {
                                hideLoading();
                                popupWindow('<h1 class="text-green">Logging <small class="text-gray" ></small></h1>', res.response)
                            }
                        });
                    },
                    tcpLog: function () {
                        showLoading();
                        ajax({
                            url: "/log/tcp", success: function (res) {
                                hideLoading();
                                popupWindow('<h1 class="text-green">TCP Logging <small class="text-gray" ></small></h1>', res.response)
                            }
                        });
                    },
                    traffic: function () {
                        showLoading();
                        ajax({
                            url: "/netTraffic", success: function (res) {
                                hideLoading();
                                popupWindow('<h1 class="text-green">Network Traffic <small class="text-gray" ></small></h1>', res.response)
                            }
                        });
                    }, queue: function () {
                        showLoading();
                        ajax({
                            url: "/queue/{{.ProjectName}}", success: function (res) {
                                hideLoading();
                                popupWindow('<h1 class="text-green">{{.ProjectName}} <small class="text-gray" ></small></h1>', res.response)
                            }, error: function (res) {
                                if (res.status === 401) {
                                    location.href = "/login"
                                }
                            }
                        });
                    }, proxy: function () {
                        showLoading();
                        ajax({
                            url: "/add/{{.ProjectName}}", success: function (res) {
                                hideLoading();
                                popupWindow('<h1 class="text-green">{{.ProjectName}}  <small><a class="text-gray" target="_blank" href="/get/{{.ProjectName}}"> Download</a></small></h1>', res.response)
                            }
                        });
                    },
                },
                computed: {
                    retries: function () {
                        let str = "";
                        this.basic.queue_retries.forEach(function (v, i) {
                            if (i === 0 && v === 0) {
                                return
                            }
                            str += (i === 0 ? "F:" : "") + "" + v + "/"
                        });
                        return str ? str.substring(0, str.length - 1) : str
                    }
                },
                mounted: function () {
                    document.getElementById('vue-content').style.display = "block";
                    this.canvas = document.getElementById("chart-rate");
                    if (preloadJson.basic.loads) {
                        lineChart(this.canvas, preloadJson.basic.loads, timestampHumanReadable, chartCeil);
                    }
                    handlerSocket();
                    setTimeout(function () {
                        isMobile() ? sendMessage("3") : sendMessage("1")//change refresh rate
                    }, 6543)
                }
            });
        });
</script>
{{template "common"}}
</body>
</html>