<!DOCTYPE html>
<html>
<head>
    <title>Asuka connecting..</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link href="/static/asuka.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div style="max-width: 1500px;margin: 20px auto;display: none"
     id="vue-content">
    <div class="head_wrap" v-if="basic.time">
        <div class="head-item">
            <div style="float:right">
                <h1>{{"{{basic.mem_sys}}"}}</h1>
                <small>Memory usage</small>
            </div>
            <div>
                <h1><a href="/">{{.ProjectName}}</a></h1>
                <small>Project</small>
            </div>
            <br>
            <table>
                <tbody>
                <tr>
                    <td>
                        Time
                    </td>
                    <td>
                        <strong>{{"{{basic.time}}"}}</strong>
                    </td>
                    <td>
                        Uptime
                    </td>
                    <td>
                        <strong>{{"{{basic.uptime}}"}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Servers
                    </td>
                    <td>
                        <strong>{{"{{basic.server_enable}}"}}</strong>
                    </td>
                    <td>
                        Offline
                    </td>
                    <td>
                        <strong>
                            {{"{{basic.server_enable?((basic.server_enable-basic.server_run)/basic.server_enable*100).toFixed(2):0}}"}}
                            %
                        </strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="head-item">
            <div>
                <h1><a href="/queue/{{.ProjectName}}">{{"{{basic.queue|numberFormat}}"}}</a></h1>
                <small>All url in redis</small>
                <span style="float: right"><strong>{{"{{basic.redis_mem}}"}}</strong></span>
            </div>
            <br>
            <table>
                <tbody>
                <tr>
                    <td colspan="4">
                        {{if .Check}}
                            <div style="overflow:hidden;text-overflow: ellipsis;max-width: 400px"
                                 v-html="basic.showing"></div>
                        {{else}}
                            <a href="/login" style="color: #ff9c38">Login Required</a>
                        {{end}}
                    </td>
                </tr>
                <tr>
                    <td>Retries</td>
                    <td colspan="3">
                        <strong>{{"{{retries}}"}}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="head-item">
            <div style="float:right">
                <h1>{{"{{basic.traffic_out}}"}}</h1>
                <small>TCP traffic out</small>
            </div>
            <div>
                <h1>{{"{{basic.traffic_in}}"}}</h1>
                <small>TCP traffic in</small>
            </div>
            <br>
            <table>
                <tbody>
                <tr>
                    <td>
                        Request
                    </td>
                    <td>
                        <strong>{{"{{basic.access_count|numberFormat}}"}}</strong>
                    </td>
                    <td>
                        Failed
                    </td>
                    <td>
                        <strong>{{"{{basic.failure_count|numberFormat}}"}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Failure Recent
                    </td>
                    <td>
                        <strong>{{"{{basic.failure_period}}"}}%</strong>
                    </td>
                    <td>
                        Failure All
                    </td>
                    <td>
                        <strong>{{"{{ basic.access_count?(basic.failure_count/basic.access_count)*100:0 |numberFormat }}"}}
                            %</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="width: 100%;height:145px;">{{/*防止下面延迟加载成功后的抖动*/}}
        <canvas style="width: 100%;height:140px;" id="chart-legend-top"></canvas>
    </div>
    <div style="background: #fff;padding: 30px 20px;overflow-x: auto"
         v-if="(action == 'home' && home.servers) || (action == 'recent' && fetchList.length)">

        {{/*recent*/}}
        <table v-if='action == "recent" && fetchList.length' class="table-striped">
            <thead>
            <tr>
                <th style="width: 1px"></th>
                {{if .Check}}
                    <th>Server</th>
                {{end}}
                <th>Add Time</th>
                <th>Consume Time</th>
                <th>Status</th>
                <th>Size</th>
                <th>Content Type</th>
                <th>Error</th>
                <th>Url</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in fetchList"
                :class="{warning:!item.StatusCode || item.StatusCode != 200,danger:item.ErrType !=''}">
                <td class="center">{{"{{item.Index}}"}}</td>
                {{if .Check}}
                    <td class="center">{{"{{item.TransportName}}"}}</td>
                {{end}}
                <td class="center">{{"{{item.AddTime}}"}}</td>
                <td class="center">{{"{{item.ConsumeTime}}"}}</td>
                <td class="center">{{"{{item.StatusCode}}"}}</td>
                <td class="center">{{"{{item.TrafficInStr}}"}}</td>
                <td class="center">{{"{{item.ContentType}}"}}</td>
                <td class="center">{{"{{item.ErrType}}"}}</td>
                {{if .Check}}
                    <td class="right"><a target="_blank" :href="item.RawUrl">{{"{{item.RawUrl | urlTruncate}}"}}</a>
                    </td>
                {{else}}
                    <td class="right">********</td>
                {{end}}
            </tr>
            </tbody>
        </table>


        {{/*home*/}}
        <table v-if='action == "home" && home.servers' class="table-striped">
            <thead>
            <tr>
                {{if .Check}}
                    <th>Server</th>
                {{end}}
                <th>Status</th>
                <th style="min-width:145px">Failure Recent/all</th>
                <th style="width:1px">Dispatch</th>
                {{/*<th>Load 5s/60s</th>*/}}
                {{/*<th style="min-width:70px">Time</th>*/}}
                <th>Pass / Sleep</th>
                <th>Idle</th>
                {{/*<th>Traffic I/O</th>*/}}
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="server in home.servers" :class="{warning:server.failure_level,stop: server.stop}">
                {{if .Check}}
                    <td class="center">
                        <div style="display:inline-block;width: 100px;overflow: hidden;text-overflow: ellipsis ;text-align: center">{{"{{server.name}}"}}</div>
                    </td>
                {{end}}
                <td :style="{color: 'hsl('+server.failure_level_hsl+', 100%, 35%)'}" style="font-weight:800;"
                    class="center">
                    {{"{{server.failure_level}}"}}
                </td>
                <td class="center">
                    <div style="display:inline-block;width:50px" class="right">
                    <span :style="{color: 'hsl('+server.failure_period_hsl+', 100%, 35%)'}">{{"{{server.failure_period}}"}}
                        %</span>
                    </div>
                    /
                    <div style="display:inline-block;width:50px" class="left">
                    <span :style="{color: 'hsl('+server.failure_all_hsl+', 100%, 35%)'}">{{"{{server.failure_all}}"}}
                        %</span>
                    </div>
                </td>
                <td class="center">
                    <div style="display:inline-block;width:50px" class="right">{{"{{server.access_count}}"}}</div>
                    /
                    <div style="display:inline-block;width:50px" class="left">{{"{{server.failure_count}}"}}</div>
                </td>
                {{/*<td class="center">*/}}
                {{/*<div style="display:inline-block;width:45px"*/}}
                {{/*class="right">{{"{{server.loads[5].toFixed(2)}}"}}</div>*/}}
                {{/*/*/}}
                {{/*<div style="display:inline-block;width:45px"*/}}
                {{/*class="left">{{"{{server.loads[60].toFixed(2)}}"}}</div>*/}}
                {{/*</td>*/}}
                {{/*<td class="center">{{"{{server.avg_time}}"}}</td>*/}}
                <td class="center">
                    <div style="display:inline-block;width:80px" class="right">{{"{{server.waiting}}"}}</div>
                    /
                    <div style="display:inline-block;width:80px" class="left">{{"{{server.sleep}}"}}</div>
                </td>
                <td class="center" :class="server.idle? 'text-green' : 'text-orange'">{{"{{server.idle}}"}}</td>
                {{/*<td class="center">*/}}
                {{/*<div style="display:inline-block;width:50px" class="right">{{"{{server.traffic_in}}"}}</div>*/}}
                {{/*/*/}}
                {{/*<div style="display:inline-block;width:50px" class="left">{{"{{server.traffic_out}}"}}</div>*/}}
                {{/*</td>*/}}
                <td class="right ctl">
                    <button class="btn-sm ctl" :disabled="server._btnDisabled"
                            :class="{orange:!server.stop,green:server.stop}" style="color:#fff"
                            v-on:click.stop.prevent="switchServer(server)">{{"{{server.stop?'start':'stop'}}"}}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div style="color: #dadada;padding: 0 20px 40px">
        <div>
            <span v-if="basic.uptime">Uptime: {{"{{basic.uptime}}"}}  Date: {{"{{basic.date}}"}}</span>
        </div>
        <div>
            <span v-if="basic.sys_load">Load: {{"{{basic.sys_load}}"}}</span>
            <span v-if="basic.sys_mem">Used/Total: {{"{{basic.sys_mem}}"}}</span>
            <span v-if="basic.runtime_mem">Sys/Alloc: {{"{{basic.runtime_mem}}"}}</span>
        </div>
        <div>
            <span v-if="basic.tcp_filter.load">Load: {{"{{basic.tcp_filter.load}}"}}</span>
            <span v-if="basic.tcp_filter.mem_total">Used/Total: {{"{{(basic.tcp_filter.mem_total-basic.tcp_filter.mem_available)|fileSizeH}}"}}/{{"{{basic.tcp_filter.mem_total|fileSizeH}}"}} {{"{{((basic.tcp_filter.mem_total-basic.tcp_filter.mem_available)/basic.tcp_filter.mem_total*100).toFixed(2)}}"}}%</span>
            <span v-if="basic.tcp_filter.mem_sys">Sys/Alloc: {{"{{basic.tcp_filter.mem_sys|fileSizeH}}"}}/{{"{{basic.tcp_filter.mem_alloc|fileSizeH}}"}}</span>
        </div>
        <div>
            <span v-if="basic.tcp_filter.mem_rss">Rss: {{"{{basic.tcp_filter.mem_rss|fileSizeH}}"}}</span>
            <span v-if="basic.tcp_filter.goroutine">Goroutine: {{"{{basic.tcp_filter.goroutine}}"}}</span>
            <span v-if="basic.tcp_filter.db_alive_size">Alive: {{"{{basic.tcp_filter.bl_alive_size}}"}}</span>
            <span v-if="basic.tcp_filter.db_test_count">Test: {{"{{basic.tcp_filter.bl_test_count}}"}}</span>
            <span v-if="basic.tcp_filter.pool_size">Pool: {{"{{basic.tcp_filter.pool_size}}"}}</span>
            <span v-if="basic.tcp_filter.sockets">Sockets: {{"{{basic.tcp_filter.sockets}}"}}</span>
        </div>
    </div>

    <div class="ctrl-wrap">
        {{if not .Check}}
            <a href="/login">
                <button class="btn-mb" style="background: #ff9c38;border: 1px solid #ff9c38;color: #fff">Login</button>
            </a>
        {{else}}
            <button v-on:click="logout()" class="btn-mb"
                    style="background: #ff9c38;border: 1px solid #ff9c38;color: #fff">Logout
            </button>
            <a href="/add/{{.ProjectName}}">
                <button class="btn-mb" style="background: #ff9c38;border: 1px solid #ff9c38;color: #fff">Add Proxy
                </button>
            </a>
            <a href="/get/{{.ProjectName}}">
                <button class="btn-mb" style="background: #ff9c38;border: 1px solid #ff9c38;color: #fff">Get Proxy
                </button>
            </a>
            <a href="/website/{{.ProjectName}}">
                <button class="btn-mb" style="background: #ff9c38;border: 1px solid #ff9c38;color: #fff">WEB</button>
            </a>
        {{end}}
        <button v-on:click="wsPageSwitch()" class="btn-mb"
                style="background: #ff9c38;border: 1px solid #ff9c38;color: #fff">H /
            R
        </button>
        <input type="text" v-on:keypress="sendCommand($event)" class="inp-mb" placeholder="console" value=""
               style="max-width: 160px">
    </div>
</div>
<script src="/static/asuka.js?v=2"></script>
<script>
    let timer_d90g8df987g9dfg7df9gdfj, ws, manualFlag = false, vueContent,
        wsUrl = (window.location.protocol === "https:" ? "wss://" : "ws://") + window.location.host + "/project.io?project=" + {{.ProjectName}};

    loadScript("/static/vue.min.js", function () {
        vueContent = new Vue({
            el: "#vue-content",
            data: {
                home: {}, recent: {},
                basic: {tcp_filter: {}},
                fetchList: [],
                action: "home",
                chart1: null,
            },
            methods: {
                switchServer: function (server) {
                    this.$set(server, '_btnDisabled', true);
                    ajax({
                        url: "/switchServer",
                        data: {project: '{{.ProjectName}}', name: server.name,},
                        error: function (res) {
                            if (res.status === 401) {
                                location.href = "/login"
                            }
                        }
                    });
                },
                logout: function () {
                    ajax({
                        url: "/logout", success: function () {
                            location.reload()
                        }
                    });
                },
                sendCommand: function (evt) {
                    if (evt.key && evt.key.toLocaleLowerCase() === "enter") {
                        sendMessage(evt.target.value);
                    }
                },
                wsPageSwitch: function () {
                    vueContent.$data.action = vueContent.$data.action === "recent" ? "home" : "recent";
                    sendMessage(vueContent.$data.action);
                }
            },
            computed: {
                retries: function () {
                    let str = "", k;
                    for (k in this.basic.queue_bls) {
                        if (this.basic.queue_bls.hasOwnProperty(k)) {
                            str += (k == -1 ? "F:" : "") + " " + this.basic.queue_bls[k] + " / "
                        }
                    }
                    return str ? str.substring(0, str.length - 2) : str
                }
            },
            filters: {
                numberFormat: function (v) {
                    if (v === undefined) {
                        return "0"
                    }
                    return new Intl.NumberFormat().format(v)
                }, fileSizeH: function (size) {
                    return fileSizeH(size);
                }, urlTruncate: function (str) {
                    if (str.length > 40) {
                        return str.substring(0, 40) + "..(" + str.length + ")"
                    }
                    return str
                }
            },
            mounted: function () {
                handlerSocket();
                document.getElementById('vue-content').style.display = "block";
                loadScript('/static/Chart.min.js', function () {
                    setTimeout(function () {
                        isMobile() ? sendMessage("3") : sendMessage("1")//change refresh rate
                    }, 5000)
                });
            }
        });

        vueContent.$watch('recent.fetched', function (newVal, oldVal) {
            if (!newVal.length) {
                return
            }
            for (item of newVal) {
                this.fetchList.unshift(item);
                if (this.fetchList.length > 200) {
                    this.fetchList.pop()
                }
            }
        });
    });
</script>
</body>
</html>