<!DOCTYPE html>
<html lang="en">
<head>
    <title>Asuka connecting..</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link href="{{FileCacheCtl "/static/asuka.css"}}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div style="max-width: 1500px;margin: 20px auto;display: none"
     id="vue-content">
    <div class="head_wrap" v-if="basic.time">
        <div class="head-item">
            <div style="float:right;">
                <h1>{{"{{basic.mem_sys}}"}}
                    <small style="font-size: 12px"
                           v-if="basic.tcp_filter.MemRss>0">{{"{{basic.tcp_filter.MemRss.fileSizeH()}}"}}</small>
                </h1>
                <small>Memory usage</small>
            </div>
            <div>
                <h1><a style="min-width: 50px;display:inline-block;" href="/"
                       :class="{'text-orange':stop}">{{.ProjectName}}</a></h1>
                <small v-if="stopTime > 0" class="text-orange">Stop: {{"{{stopTime.timestamp2date()}}"}}</small>
                <small v-else>Project</small>
            </div>
            <br>
            <table>
                <tbody>
                <tr>
                    <td>
                        Time
                    </td>
                    <td>
                        <strong>{{"{{basic.time}}"}}</strong>
                    </td>
                    <template v-if="basic.sys_load">
                        <td>
                            Load
                        </td>
                        <td style="line-height: 10px" v-if="basic.tcp_filter.Load">
                            <strong style="font-size: 10px">{{"{{basic.sys_load}}"}} <span
                                        :style="{color: 'hsl('+(100-basic.sys_mem_percent)+', 100%, 35%)'}">{{"{{basic.sys_mem_percent.toFixed(0)}}"}}%</span></strong>
                            <br>
                            <strong style="font-size: 10px">{{"{{basic.tcp_filter.Load}}"}} <span
                                        :style="{color: 'hsl('+(100-(basic.tcp_filter.MemTotal-basic.tcp_filter.MemAvailable)/basic.tcp_filter.MemTotal*100)+', 100%, 35%)'}">{{"{{((basic.tcp_filter.MemTotal-basic.tcp_filter.MemAvailable)/basic.tcp_filter.MemTotal*100).toFixed(0)}}"}}%</span></strong>
                        </td>
                        <td v-else>
                            <strong>{{"{{basic.sys_load}}"}}</strong>
                        </td>
                    </template>
                    <template v-else>
                        <td>
                            Uptime
                        </td>
                        <td>
                            <strong>{{"{{basic.uptime}}"}}</strong>
                        </td>
                    </template>
                </tr>
                <tr>
                    <td>
                        Servers
                    </td>
                    <td>
                        <strong>{{"{{basic.server_enable}}"}}</strong>
                    </td>
                    <td>
                        Offline
                    </td>
                    <td>
                        <strong>
                            {{"{{basic.server_enable?((basic.server_enable-basic.server_run)/basic.server_enable*100).toFixed(2):0}}"}}
                            %
                        </strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="head-item">
            <div>
                <h1><a href="/queue/{{.ProjectName}}"
                       :class="{'text-orange':stop}">{{"{{basic.queue.numFormat()}}"}}</a> <small
                            style="font-size: 12px;"
                            v-if="basic.retries_queue">{{"{{basic.retries_queue.numFormat()}}"}}</small></h1>
                <small>All url in redis</small>
                <span style="float: right"><strong>{{"{{basic.redis_mem}}"}}</strong>
                  <br>
                    <span class="text-gray"
                          v-if="basic.redis_retries_mem!='0B'">{{"{{basic.redis_retries_mem}}"}}</span></span>
            </div>
            <br>
            <table>
                <tbody>
                <tr>
                    <td colspan="4">
                        {{if .Check}}
                            <div style="overflow:hidden;text-overflow: ellipsis;max-width: 400px"
                                 v-html="basic.showing"></div>
                        {{else}}
                            <a href="/login" style="color: #ff9c38">Login Required</a>
                        {{end}}
                    </td>
                </tr>
                <tr>
                    <td>Retries</td>
                    <td colspan="3">
                        <strong style="display:block;white-space: nowrap; width: 195px; overflow: hidden; text-overflow: ellipsis;"
                                :title="retries">{{"{{retries}}"}}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="head-item">
            <div style="float:right">
                <h1>{{"{{basic.traffic_out}}"}}</h1>
                <small>TCP traffic out</small>
            </div>
            <div>
                <h1>{{"{{basic.traffic_in}}"}}</h1>
                <small>TCP traffic in</small>
            </div>
            <br>
            <table>
                <tbody>
                <tr>
                    <td>
                        Request
                    </td>
                    <td>
                        <strong>{{"{{basic.access_count.numFormat()}}"}}</strong>
                    </td>
                    <td>
                        Failed
                    </td>
                    <td>
                        <strong>{{"{{basic.failure_count.numFormat()}}"}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Failure Recent
                    </td>
                    <td>
                        <strong>{{"{{basic.failure_period}}"}}%</strong>
                    </td>
                    <td>
                        Failure All
                    </td>
                    <td>
                        <strong>{{"{{ (basic.access_count?(basic.failure_count/basic.access_count)*100:0).numFormat() }}"}}
                            %</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="width: 100%;height:145px;">{{/*防止下面延迟加载成功后的抖动*/}}
        <canvas style="width: 100%;height:140px;" id="chart-legend-top"></canvas>
    </div>
    <div style="background: #fff;padding: 30px 20px;overflow-x: auto"
         v-if="(action == 'home' && home.servers) || (action == 'recent' && fetchList.length)">

        {{/*recent*/}}
        <table v-if='action == "recent" && fetchList.length' class="table-striped">
            <thead>
            <tr>
                <th style="width: 1px"></th>
                {{if .Check}}
                    <th>Server</th>
                {{end}}
                <th>Add Time</th>
                <th>Consume Time</th>
                <th>Status</th>
                <th>Size</th>
                <th>Content Type</th>
                <th>Error</th>
                <th>Find/New</th>
                <th>Url</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in fetchList"
                :class="{warning:!item.StatusCode || item.StatusCode != 200,danger:item.ErrType !=''}">
                <td class="center">{{"{{item.Index}}"}}</td>
                {{if .Check}}
                    <td class="center">{{"{{item.TransportName}}"}}</td>
                {{end}}
                <td class="center">{{"{{item.AddTime}}"}}</td>
                <td class="center">{{"{{item.ConsumeTime}}"}}</td>
                <td class="center">{{"{{item.StatusCode}}"}}</td>
                <td class="center">{{"{{item.TrafficInStr}}"}}</td>
                <td class="center">{{"{{item.ContentType}}"}}</td>
                <td class="center">{{"{{item.ErrType}}"}}</td>
                <td class="center">{{"{{item.FindUrls}}"}}/{{"{{item.NewUrls}}"}}</td>
                {{if .Check}}
                    <td class="right"><a target="_blank" :href="item.RawUrl">{{"{{item.RawUrl | urlTruncate}}"}}</a>
                    </td>
                {{else}}
                    <td class="right">********</td>
                {{end}}
            </tr>
            </tbody>
        </table>


        {{/*home*/}}
        <table v-if='action == "home" && home.servers' class="table-striped">
            <thead>
            <tr>
                {{if .Check}}
                    <th>Server</th>
                {{end}}
                <th>Status</th>
                <th style="min-width:145px">Failure Recent/all</th>
                <th style="width:1px">Dispatch</th>
                <th>Load 5s/60s/15m</th>
                {{/*<th style="min-width:70px">Time</th>*/}}
                <th>Pass / Sleep</th>
                <th style="max-width:130px;">Idle</th>
                {{/*<th>Traffic I/O</th>*/}}
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="server in home.servers" :class="{warning:server.failure_level,stop: server.stop}">
                {{if .Check}}
                    <td class="center">
                        <div style="display:inline-block;width: 100px;overflow: hidden;text-overflow: ellipsis ;text-align: center">{{"{{server.name}}"}}</div>
                    </td>
                {{end}}
                <td :style="{color: 'hsl('+server.failure_level_hsl+', 100%, 35%)'}" style="font-weight:800;"
                    class="center">
                    {{"{{server.failure_level}}"}}
                </td>
                <td class="center">
                    <div style="display:inline-block;width:50px" class="right">
                    <span :style="{color: 'hsl('+server.failure_period_hsl+', 100%, 35%)'}">{{"{{server.failure_period}}"}}
                        %</span>
                    </div>
                    /
                    <div style="display:inline-block;width:50px" class="left">
                    <span :style="{color: 'hsl('+server.failure_all_hsl+', 100%, 35%)'}">{{"{{server.failure_all}}"}}
                        %</span>
                    </div>
                </td>
                <td class="center">
                    <div style="display:inline-block;width:50px" class="right">{{"{{server.access_count}}"}}</div>
                    /
                    <div style="display:inline-block;width:50px" class="left">{{"{{server.failure_count}}"}}</div>
                </td>
                <td class="center">
                    <div style="display:inline-block;width:45px"
                         class="right">{{"{{server.loads[5].toFixed(2)}}"}}</div>
                    /
                    <div style="display:inline-block;"
                         class="left">{{"{{server.loads[60].toFixed(2)}}"}}</div>
                    /
                    <div style="display:inline-block;width:45px"
                         class="left">{{"{{server.loads[900].toFixed(2)}}"}}</div>
                </td>
                {{/*<td class="center">{{"{{server.avg_time}}"}}</td>*/}}
                <td class="center">
                    <div style="display:inline-block;width:80px" class="right">{{"{{server.waiting}}"}}</div>
                    /
                    <div style="display:inline-block;width:80px" class="left">{{"{{server.sleep}}"}}</div>
                </td>
                <td class="center">
                    <a :class="server.idle? 'text-green': 'text-orange'" :href="server.current" :title="server.current"
                       style="display:inline-block;max-width: 130px;overflow: hidden;text-overflow: ellipsis;">
                        {{"{{server.idle?'Idle':(server.current?(server.current.substring(server.current.length-20)):'run')}}"}}
                    </a>
                </td>
                {{/*<td class="center">*/}}
                {{/*<div style="display:inline-block;width:50px" class="right">{{"{{server.traffic_in}}"}}</div>*/}}
                {{/*/*/}}
                {{/*<div style="display:inline-block;width:50px" class="left">{{"{{server.traffic_out}}"}}</div>*/}}
                {{/*</td>*/}}
                <td class="right ctl">
                    <button class="btn-sm ctl" :disabled="server._btnDisabled"
                            :class="{orange:server.stop,green:!server.stop}"
                            v-on:click.stop.prevent="switchServer(server)">{{"{{server.stop?'start':'stop'}}"}}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="text-gray" style="padding: 0 20px 70px">
        <div>
            <span v-if="basic.uptime">Uptime: {{"{{basic.uptime}}"}}</span>
            <a href="/log" v-if="basic.log_mod > 0"
               :class="{'text-orange':basic.log_mod>=basic.log_check,'text-gray':basic.log_mod<basic.log_check}">
                Log: {{"{{basic.log_mod.timestamp2date()}}"}}
            </a>
            <a href="/log/tcp" v-if="basic.tcp_filter.LogMod > 0"
               :class="{'text-orange':basic.tcp_filter.LogMod>=basic.tcp_filter.LogCheck,'text-gray':basic.tcp_filter.LogMod<basic.tcp_filter.LogCheck}">
                Log: {{"{{basic.tcp_filter.LogMod.timestamp2date()}}"}}
            </a>
        </div>
        {{/*        <div>*/}}
        {{/*            <span v-if="basic.sys_load">Load: {{"{{basic.sys_load}}"}}</span>*/}}
        {{/*            <span v-if="basic.sys_mem">Used/Total: {{"{{basic.sys_mem}}"}} <span*/}}
        {{/*                        :style="{color: 'hsl('+(100-basic.sys_mem_percent)+', 100%, 35%)'}">{{"{{basic.sys_mem_percent.toFixed(2)}}"}}%</span></span>*/}}
        {{/*            <span v-if="basic.runtime_mem">Sys/Alloc: {{"{{basic.runtime_mem}}"}}</span>*/}}
        {{/*        </div>*/}}
        {{/*        <div>*/}}
        {{/*            <a href="/log" v-if="basic.log_mod > 0"*/}}
        {{/*               :class="{'text-orange':basic.log_mod>=basic.log_check,'text-gray':basic.log_mod<basic.log_check}">*/}}
        {{/*                Log: {{"{{basic.log_mod.timestamp2date()}}"}}*/}}
        {{/*            </a>*/}}
        {{/*            <a href="/log/tcp" v-if="basic.tcp_filter.LogMod > 0"*/}}
        {{/*               :class="{'text-orange':basic.tcp_filter.LogMod>=basic.tcp_filter.LogCheck,'text-gray':basic.tcp_filter.LogMod<basic.tcp_filter.LogCheck}">*/}}
        {{/*                Log: {{"{{basic.tcp_filter.LogMod.timestamp2date()}}"}}*/}}
        {{/*            </a>*/}}
        {{/*        </div>*/}}
        {{/*        <div>*/}}
        {{/*            <span v-if="basic.tcp_filter.Load">Load: {{"{{basic.tcp_filter.Load}}"}}</span>*/}}
        {{/*            <span v-if="basic.tcp_filter.MemTotal">Used/Total: {{"{{(basic.tcp_filter.MemTotal-basic.tcp_filter.MemAvailable).fileSizeH()}}"}}/{{"{{basic.tcp_filter.MemTotal.fileSizeH()}}"}} <span*/}}
        {{/*                        :style="{color: 'hsl('+(100-(basic.tcp_filter.MemTotal-basic.tcp_filter.MemAvailable)/basic.tcp_filter.MemTotal*100)+', 100%, 35%)'}">{{"{{((basic.tcp_filter.MemTotal-basic.tcp_filter.MemAvailable)/basic.tcp_filter.MemTotal*100).toFixed(2)}}"}}%</span></span>*/}}
        {{/*            <span v-if="basic.tcp_filter.MemSys">Sys/Alloc: {{"{{basic.tcp_filter.MemSys.fileSizeH()}}"}}/{{"{{basic.tcp_filter.MemAlloc.fileSizeH()}}"}}</span>*/}}
        {{/*        </div>*/}}
        <div>
            <span v-if="basic.tcp_filter.Goroutine">Threads: {{"{{basic.tcp_filter.Goroutine}}"}}</span>
            <span v-if="basic.tcp_filter.Goroutine">Alive: {{"{{basic.tcp_filter.BlAliveSize}}"}}</span>
            <span v-if="basic.tcp_filter.Goroutine">Test: {{"{{basic.tcp_filter.BlTestCount.numFormat()}}"}}</span>
            <span v-if="basic.tcp_filter.Goroutine">Sockets: {{"{{basic.tcp_filter.Sockets}}"}}</span>
            <span v-if="basic.pool_size || basic.filter_new_connections">Pool size/create: {{"{{basic.pool_size}}"}}/{{"{{basic.filter_new_connections}}"}}</span>
        </div>
    </div>

    <div class="ctrl-wrap">
        {{if not .Check}}
            <a href="/login">
                <button class="btn-mb"
                        style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">Login
                </button>
            </a>
        {{else}}
            <button v-on:click="logout()" class="btn-mb"
                    style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">Logout
            </button>
            <button v-on:click="switchProject()" class="btn-mb"
                    style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">{{"{{stop?'Start':'Stop'}}"}}
            </button>
            <a href="/add/{{.ProjectName}}">
                <button class="btn-mb"
                        style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">Add Proxy
                </button>
            </a>
            <a href="/get/{{.ProjectName}}">
                <button class="btn-mb"
                        style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">Get Proxy
                </button>
            </a>
            <a href="/website/{{.ProjectName}}">
                <button class="btn-mb"
                        style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">WEB
                </button>
            </a>
        {{end}}
        <button v-on:click="wsOpenClose()" class="btn-mb"
                style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">On /
            Off
        </button>
        <button v-on:click="wsPageSwitch()" class="btn-mb"
                style="margin-bottom: 10px;background: #ff9c38;border: 1px solid #ff9c38;">
            <span v-if="action=='home'">Crawling</span>
            <span v-else>Servers</span>

        </button>
        {{if .Check}}
            <input type="text" v-on:keypress="sendCommand($event)" class="inp-mb" placeholder="console" value=""
                   style="margin-bottom: 10px;max-width: 160px">
            <strong><a href="https://asuka.flysay.com" class="text-orange" style="margin-left:10px"
                       v-if="location.host.toLowerCase().indexOf('asuka') === -1">ASUKA</a></strong>
            <strong><a href="https://kumiko.flysay.com" class="text-orange" style="margin-left:10px"
                       v-if="location.host.toLowerCase().indexOf('kumiko') === -1">KUMIKO</a></strong>
        {{end}}
    </div>
</div>
<script src="{{FileCacheCtl "/static/asuka.js"}}"></script>
<script>
    let timer_d90g8df987g9dfg7df9gdfj, ws, manualFlag = false, vueContent;
    const wsUrl = (window.location.protocol === "https:" ? "wss://" : "ws://") + window.location.host + "/project.io?project=" + {{.ProjectName}};
    const preloadJson = {{.PreloadJson}}

        loadScript("https://cdn.bootcss.com/vue/2.6.10/vue.min.js", function () {
            vueContent = new Vue({
                el: "#vue-content",
                data: {
                    home: preloadJson, recent: {},
                    basic: preloadJson.basic,
                    fetchList: [],
                    action: "home",
                    chart1: null,
                    stop: preloadJson.stop,
                    stopTime: preloadJson.stop_time,
                },
                methods: {
                    switchServer: function (server) {
                        this.$set(server, '_btnDisabled', true);
                        ajax({
                            url: "/switchServer",
                            data: {project: '{{.ProjectName}}', name: server.name,},
                            error: function (res) {
                                if (res.status === 401) {
                                    location.href = "/login"
                                }
                            }
                        });
                    },
                    switchProject: function (item) {
                        ajax({
                            url: "/switchProject", data: {name: '{{.ProjectName}}'}, error: function (res) {
                                if (res.status === 401) {
                                    location.href = "/login"
                                }
                            }
                        });
                    },
                    logout: function () {
                        ajax({
                            url: "/logout", success: function () {
                                location.reload()
                            }
                        });
                    },
                    sendCommand: function (evt) {
                        if (evt.key && evt.key.toLocaleLowerCase() === "enter") {
                            sendMessage(evt.target.value);
                        }
                    },
                    wsPageSwitch: function () {
                        vueContent.$data.action = vueContent.$data.action === "recent" ? "home" : "recent";
                        sendMessage(vueContent.$data.action);
                    }, wsOpenClose: function () {
                        manualOpen();
                        manualClose();
                    }
                },
                computed: {
                    retries: function () {
                        let str = "";
                        this.basic.queue_retries.forEach(function (v, i) {
                            if (i === 0 && v === 0) {
                                return
                            }
                            str += (i === 0 ? "F:" : "") + "" + v + "/"
                        });
                        return str ? str.substring(0, str.length - 1) : str
                    }
                },
                filters: {
                    urlTruncate: function (str) {
                        if (str.length > 40) {
                            return str.substring(0, 40) + "..(" + str.length + ")"
                        }
                        return str
                    }
                },
                mounted: function () {
                    handlerSocket();
                    document.getElementById('vue-content').style.display = "block";
                    loadScript('https://cdn.bootcss.com/Chart.js/2.8.0-rc.1/Chart.min.js', function () {
                        setInterval(function () {
                            isMobile() ? sendMessage("3") : sendMessage("1")//change refresh rate
                        }, 6543)
                    });
                }
            });

            vueContent.$watch('recent.fetched', function (newVal, oldVal) {
                if (!newVal.length) {
                    return
                }
                for (item of newVal) {
                    this.fetchList.unshift(item);
                    if (this.fetchList.length > 200) {
                        this.fetchList.pop()
                    }
                }
            });
        });
</script>
</body>
</html>