<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.ProjectName}} Queue</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link href="/static/asuka.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div>
    <h2><a href="/{{.ProjectName}}">{{.ProjectName}}</a></h2>
    {{range $index, $element := .List}}
        <a href="{{$element}}" target="_blank">{{$element}}</a><br>
    {{end}}
</div>
</body>
</html>