<!DOCTYPE html>
<html lang="en">
<head>{{template "head" .ProjectName}}</head>
<body>
<div>
    <h2><a href="/{{.ProjectName}}">{{.ProjectName}}</a></h2>
    {{range $index, $element := .List}}
        <a href="{{$element}}" target="_blank">{{$element}}</a><br>
    {{end}}
</div>


<div id="btn" style="position: fixed;bottom: 20px;right:20px;text-align: center">
    <a href="/{{.ProjectName}}"
       style="font-size: 16px;margin:30px 0;display: block"><strong>{{.ProjectName}}</strong></a>
    <div id="scroll"
         style="margin:0 auto;cursor:pointer;width: 70px;height:70px;border-radius:50%;background: #ff9c38"></div>
</div>
<script>
    document.getElementById("scroll").addEventListener("click", function () {
        if (window.innerHeight + window.scrollY + 100 >= document.body.offsetHeight) {
            window.scrollTo(0, 0);
        } else {
            window.scrollTo(0, document.body.offsetHeight);
        }
    })
</script>
{{template "common"}}
</body>
</html>