<canvas style="padding:4px 0;width: 100%;height:94px;margin-bottom: 15px" id="chart-os-in"></canvas>
<canvas style="padding:4px 0;width: 100%;height:94px;margin-bottom: 15px" id="chart-os-out"></canvas>
<canvas style="padding:4px 0;width: 100%;height:94px;margin-bottom: 15px" id="chart-os-in-n"></canvas>
<canvas style="padding:4px 0;width: 100%;height:94px;margin-bottom: 15px" id="chart-os-out-n"></canvas>
<script>

    refreshNetTrafficLines({{.PreloadJson}});
    trafficHandlerSocket();

    function refreshNetTrafficLines(data) {
        lineChart(document.getElementById("chart-os-in"), data.os_in.reverse(), chartTimeSince, fileSizeH);
        lineChart(document.getElementById("chart-os-out"), data.os_out.reverse(), chartTimeSince, fileSizeH);
        lineChart(document.getElementById("chart-os-in-n"), data.os_in_n.reverse(), chartTimeSince, fileSizeH);
        lineChart(document.getElementById("chart-os-out-n"), data.os_out_n.reverse(), chartTimeSince, fileSizeH);
        document.getElementById("popup-window-title").querySelector("small").innerHTML = data.os_in_all.fileSizeH() + " / " + data.os_out_all.fileSizeH() + " &nbsp;&nbsp;&nbsp;&nbsp;  " + data.os_in_n_all.numFormat() + " / " + data.os_out_n_all.numFormat()
    }

    function trafficHandlerSocket() {
        let ws;
        try {
            ws = new WebSocket((window.location.protocol === "https:" ? "wss://" : "ws://") + window.location.host + "/traffic.io");
        } catch (e) {
            console.log(e);
            return
        }
        ws.onmessage = function (evt) {
            let data = JSON.parse(evt.data);
            if (document.getElementById("chart-os-in") != null) {
                refreshNetTrafficLines(data);
                ws.send("");
            } else {
                ws.onclose()
            }
        };
        ws.onopen = function () {
            if (ws.readyState !== 1) {
                return;
            }
            ws.send("");
        };
        ws.onerror = function () {
            ws && ws.close();
        };
        ws.onclose = function () {
            ws && ws.close();
        };
    }
</script>